body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f2027;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
}

.container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    background: #00c6ff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00f2fe;
}

.guardian-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.CALM {
    background: #28a745;
}

.ALERT {
    background: #ffc107;
    color: black;
}

.DEFENSE {
    background: #ff5733;
}

.EMERGENCY {
    background: #c70039;
}

.reply-box {
    margin-top: 15px;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
}